<!--This the section of Modals-->
       
          <div class="modal fade" id="ajuda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Ajuda</h4>
                </div>
                <div class="modal-body">
                 <h4>Usuários</h4>
                 <p>
                     Item que da acesso ao gerenciamento dos usuários do sistema. Nele existem funcionalidades de adicionar, editar e deletar os usuários.
                 </p>
                 <h4>Agenda das actividades</h4>
                 <p>
                     Item que da acesso ao gerenciamento das actividades do partido. Nele existem funcionalidades de adicionar, editar e deletar as agendas das actividades.
                 </p>
                 <h4>Militantes</h4>
                 <p>
                     Item que da acesso ao gerenciamento dos militantes do partido. Nele existem funcionalidades de adicionar, editar e deletar os militantes.
                 </p>
                
                 <h4>Relatórios</h4>
                 <p>
                     Item que da acesso ao gerenciamento dos relatórios do partido. Nele existem funcionalidades de gerar relatórios.
                 </p>
                  
                            
                </div>
                <div class="modal-footer">
                        
                    
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Fechar</button>
                    
                </div>
              </div>
            </div>
          </div>
          <!--UsersModels-->
          <!--ModalAUsers-->                      
          <div class="modal fade" id="Ausers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Cadastrar usuário</h4>
                </div>
                <div class="modal-body">
                                   
                        <div class="form-group">
                            <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Nome" >
                        </div>
                        <div class="form-group">
                            <input type="email" name="mail" id="mail" class="form-control" placeholder="E-mail" >
                        </div>
                        <div class="form-group">
                            <input type="password" name="pass" id="pass" class="form-control" placeholder="Senha" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="roleu" id="roleu" class="form-control" placeholder="Função" >
                        </div>
                        <div id="adresult" style="font-size: 14px; padding: 8px;"></div>
                               
                </div>
                <div class="modal-footer">
                        <button id="adUser" class="btn btn-primary">Cadastrar</button>
                    
                    <button type="button" id="Urefresh" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    
                </div>
              </div>
            </div>
          </div>
          <!--Fim do modal-->
          <!--ModalDeleteUser-->                      
          <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel"><i class="glyphicon glyphicon-warning-sign"></i> Deletar usuário</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center text-muted">Deletar usuário?</h4>
                     <div id="eventResult"></div>   
                </div>
                <div class="modal-footer">
                <form method="post" action="{{ base_url() }}/delete-user">
                    <input type="hidden" name="duid" id="duid"> 
                    <button type="submit" class="btn btn-primary">Deletar</button>
                
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </form>    
                </div>
              </div>
            </div>
          </div>
          <!--ModalEUSER-->                      
          <div class="modal fade" id="EUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Editar usuário</h4>
                </div>
                <div class="modal-body">
                                
                                <div class="form-group">
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Nome" readonly="">
                                </div>
                                <fieldset >
                                  <legend>Privilegios</legend>
                                  <div class="form-group">
                                      <select name="userole" id="userole" class="form-control">
                                          <option >Função</option>
                                          <option value="Admin">Admin</option>
                                          <option value="User">User</option>
                                          
                                      </select>
                                  </div>
                                </fieldset>
                                
                               <input type="hidden" id="userID">
                                <div class="text-center" style="font-weight: bold; padding: 8px;" id="RESULT">
                                    </div>
                                
                </div>
                <div class="modal-footer">
                        <button id="USEREDIT" class="btn btn-primary">Guardar</button>
                    
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    
                </div>
              </div>
            </div>
          </div>
          <!--Fim do modal-->             
          <!--ModalEPerfil-->                      
          <div class="modal fade" id="perfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Editar perfil</h4>
                </div>
                <div class="modal-body">
                                
                                <div class="form-group">
                                    <input type="text" id="unome" name="unome" class="form-control" placeholder="Nome" value="{{ auth.user.name| convert_encoding('ISO-8859-1', 'UTF-8') }}" >
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" placeholder="E-mail" value="{{ auth.user.email| convert_encoding('ISO-8859-1', 'UTF-8') }}">
                                </div>
                                
                                <div class="form-group">
                                    <input type="text" id="funcao" class="form-control" placeholder="Função" value="{{ auth.user.roles }}" readonly="">
                                    <input type="hidden" value="{{auth.user.id}}" id="euid">
                                </div>
                                <div class="text-center" style="font-weight: bold; padding: 8px;" id="EUresult">
                                    </div>
                                
                </div>
                <div class="modal-footer">
                        <button id="eUser" class="btn btn-primary">Guardar</button>
                    
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    
                </div>
              </div>
            </div>
          </div>
          <!--Fim do modal-->          <!--EndOfUsersModels-->
                 
          <!--EventsModels-->
          <!--ModalDeleteEvento-->                      
          <div class="modal fade" id="deleteEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel"><i class="glyphicon glyphicon-warning-sign"></i> Deletar evento</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center text-muted text-danger" id="dEresult">Deletar evento?</h4>   
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="eid" id="eid"> 
                    <button type="submit" id="deleteEvent" class="btn btn-primary">Deletar</button>
                
                    <button type="button"   class="btn btn-default" data-dismiss="modal">Cancelar</button>    
                </div>
              </div>
            </div>
          </div>          
          <!--ModalAEvent-->                      
          <div class="modal fade" id="aevent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Cadastrar evento</h4>
                </div>
                <div class="modal-body">
                              
                               <div class="form-group">
                                    <div class="text-danger text-center" style="font-weight: bold" id="e-result">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="desc" id="desc" class="form-control" placeholder="Descrição" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="locutor" id="locutor" class="form-control" placeholder="Responsável" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="local" id="local" class="form-control" placeholder="Local do evento" required>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="uid" id="uid" value="2" class="form-control"  required>
                                    <input type="datetime-local" name="tempo" id="tempo" title="Hora do evento" class="form-control" placeholder="Horás" required>
                                </div>
                        <div id="adEresult" style="padding: 8px; font-size: 14px;"></div>
                                
                </div>
                <div class="modal-footer">
                        <button id="adEvent" class="btn btn-primary">Cadastrar</button>
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    
                </div>
              </div>
            </div>
          </div>         

           <!--ModalEEvent-->                      
          <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Editar evento</h4>
                </div>
                <div class="modal-body">
                               <div class="form-group">
                                    <input type="hidden" name="ide" id="ide">
                                    <input type="text" name="title" id="title" class="form-control" placeholder="Descrição" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Responsável" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="loca" id="loca" class="form-control" placeholder="Local do evento" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="horas" id="horas" class="form-control" placeholder="Horás" required>
                                </div>
                                <div id="edEresult" style="padding: 8px; font-size: 14px;"></div>
                                
                </div>
                <div class="modal-footer">
                        <button type="submit" id="edEvent" class="btn btn-primary">Guardar</button>
                    
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    
                    
                </div>
              </div>
            </div>
          </div>
          <!--Fim do modal-->          <!--EndOfEventsModels-->

         
         
          <!--ModalNotifications-->                      
          <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Notificação</h4>
                </div>
                        <div class="modal-body">
                        {% if auth.pushs == 0 %}
                            <h4 class="text-center text-muted">Nenhuma notificação</h4>
                                               
                        {% else %}
                            <h4 class="text-center text-muted">Eventos em eminência</h4>
                            
                        <div class="table-responsive">       
                        <table class="table table-condensed">
                          <thead>
                            <tr >
                              
                              <th>Descrição</th>
                              <th>Orador</th>
                              <th>Data</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for new in auth.push %}
                            <tr >
                            <td>{{ new.description }}</td>
                            <td>{{ new.locutor }}</td>
                            <td>{{ new.e_date }} {{ new.e_time }} </td>
                            </tr>
                            {% endfor %}    
                          </tbody>
                        </table>
                    </div>

                    {% endif %}
                     </div>             
             </div>
               
              </div>
            </div>
          
          <!--Fim do modal-->
          

          <!--ModalPass-->                      
          <div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Alterar senha</h4>
                </div>
                <div class="modal-body">
                                         
                               
                                <div class="form-group">
                                    <input type="password" name="hold-pass" id="hold-pass" class="form-control" placeholder="Insira a senha antiga">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="new-pass" id="new-pass" class="form-control" placeholder="Insira nova senha" >
                                    <input type="hidden" name="Auid" id="Auid" value="{{auth.user.id}}">
                                </div>
                                
                             <div id="cPresult" style="padding: 8px; font-weight: bold;"></div>  
                                       
                </div>
                <div class="modal-footer">
                        <button id="cPass" class="btn btn-primary" >Alterar</button>
                    </form>
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    
                </div>
              </div>
            </div>
          </div>
          <!--Fim do modal-->