/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.admc{
    
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.img-admc{
    
    width: 227px;
    height: 151px;
}