<script type="text/javascript">
    
    $("#adUser").click(function(){
 
        var email = $("#email").val();
        var pass = $("#pass").val();
        var funcao = $("#funcao").val();
        var nome = $("#nome").val();

        $.ajax({
                                    
            method: 'POST',
            url: 'http://localhost/crud_application/add-user',
            dataType: 'json',
            data: {email : email, nome : nome, pass : pass, funcao : funcao },
            success: function(data){
                
                var field = data['resp'];
                var msg = data['msg'];
                                                                            
                switch(field){
                                                    
                    case 'yes':
                        $("#adresult").removeClass('alert-danger');
                        $("#adresult").addClass('alert-success text-center').text(msg);
                        $("#adUser").prop("disabled",true);

                        setTimeout(window.location.reload(), 60000);
                                    
                    break;
                    case 'no':
                        $("#adresult").removeClass('alert-success');
                        $("#adresult").addClass('alert-danger text-center').text(msg);
                                    
                    break;
                    case 'emp':
                        $("#adresult").removeClass('alert-success');
                        $("#adresult").addClass('alert-danger text-center').text(msg);
                                    
                    break;
                    default:
                                                       
                }
                                          
           }
        });
    });

   
    $("#deleteEvent").click(function(){

        var id = $("#eid").val();
         $("#dEresult").addClass('alert-success text-center').text('Aqui');

        $.ajax({
                                    
            method: 'POST',
            url: 'http://localhost/crud_application/delete',
            dataType: 'json',
            data: {id : id },
            success: function(data){
                
                var field = data['resp'];
                var msg = data['msg'];
                                                                            
                switch(field){
                                                    
                    case 'yes':
                        $("#dEresult").removeClass('alert-danger');
                        $("#dEresult").addClass('text-success text-center').text(msg);
                        $("#deleteEvent").prop("disabled",true);
                        setTimeout(window.location.reload(), 100000);
                                    
                    break;
                    case 'no':
                        $("#dEresult").removeClass('alert-success');
                        $("#dEresult").addClass('alert-danger text-center').text(msg);
                                    
                    break;
                    default:
                                                       
                }
                                          
           }
        });
    });

    $("#edEvent").click(function(){
 
        var desc = $("#title").val();
        var local = $("#loca").val();
        var locutor = $("#name").val();
        var tempo = $("#horas").val();
        var uid = $("#ide").val();

        if(desc == '' || locutor == '' || local == '' || tempo == ''){

             $("#edEresult").removeClass('alert-success');
                        $("#edEresult").addClass('alert-danger text-center').text('Existem campos vazios.');

        }else{

            $.ajax({
                                    
            method: 'POST',
            url: 'http://localhost/crud_application/update',
            dataType: 'json',
            data: {desc : desc, local : local, locutor : locutor, tempo : tempo, uid : uid },
            success: function(data){
                
                var field = data['resp'];
                var msg = data['msg'];
                                                                            
                switch(field){
                                                    
                    case 'yes':
                        $("#edEresult").removeClass('alert-danger');
                        $("#edEresult").addClass('alert-success text-center').text(msg);
                        //$("#edEvent").prop("disabled",true);

                        setTimeout(window.location.reload(), 100000);
                                    
                    break;
                    case 'no':
                        $("#edEresult").removeClass('alert-success');
                        $("#edEresult").addClass('alert-danger text-center').text(msg);
                                    
                    break;
                    default:
                                                       
                }
                                          
           }
        });
        }
        
    });

    $("#adEvent").click(function(){
 
        var desc = $("#desc").val();
        var local = $("#local").val();
        var locutor = $("#locutor").val();
        var tempo = $("#tempo").val();
        var uid = $("#uid").val();
        if(desc == '' || locutor == '' || local == '' || tempo == ''){

             $("#adEresult").removeClass('alert-success');
                        $("#adEresult").addClass('alert-danger text-center').text('Existem campos vazios.');

        }else{

            $.ajax({
                                    
            method: 'POST',
            url: 'http://localhost/crud_application/create',
            dataType: 'json',
            data: {desc : desc, local : local, locutor : locutor, tempo : tempo, uid : uid },
            success: function(data){
                
                var field = data['resp'];
                var msg = data['msg'];
                                                                            
                switch(field){
                                                    
                    case 'yes':
                        $("#adEresult").removeClass('alert-danger');
                        $("#adEresult").addClass('alert-success text-center').text(msg);
                        $("#adEvent").prop("disabled",true);

                        setTimeout(window.location.reload(), 100000);
                                    
                    break;
                    case 'no':
                        $("#adEresult").removeClass('alert-success');
                        $("#adEresult").addClass('alert-danger text-center').text(msg);
                                    
                    break;
                    default:
                                                       
                }
                                          
           }
        });
        }
        
    });

     $("#cPass").click(function(){
 
        var holdp = $("#hold-pass").val();
        var newp = $("#new-pass").val();
        var Auid = $("#Auid").val();
        
        if (holdp == '' || newp == '' ) {

            $("#cPresult").removeClass('alert-success');
                        $("#cPresult").addClass('alert-danger text-center').text('Existem campos vazios!');

        }else{

            $.ajax({
                                    
            method: 'POST',
            url: 'http://localhost/crud_application/change-pass',
            dataType: 'json',
            data: {holdp : holdp, newp : newp, Auid : Auid },
            success: function(data){
                
                var field = data['resp'];
                var msg = data['msg'];
                                                                            
                switch(field){
                                                    
                    case 'yes':
                        $("#cPresult").removeClass('alert-danger');
                        $("#cPresult").addClass('alert-success text-center').text(msg);
                        $("#cPass").prop("disabled",true);
                                    
                    break;
                    case 'no':
                        $("#cPresult").removeClass('alert-success');
                        $("#cPresult").addClass('alert-danger text-center').text(msg);
                                    
                    break;
                    default:
                                                       
                }
                                          
           }
        });
        
        }


        
    });



    $("#eUser").click(function(){

        var euid = $("#euid").val();
        var nome    = $("#unome").val();
        var email   = $("#email").val();
        if(nome == '' || email == ''){

            $("#EUresult").removeClass('alert-success');
                        $("#EUresult").addClass('alert-danger text-center').text('Existem campos vazios.');

        }else{

            $.ajax({
                                    
            method: 'POST',
            url: 'http://localhost/crud_application/update-user',
            dataType: 'json',
            data: {euid : euid, nome : nome, email : email },
            success: function(data){
                
                var field = data['resp'];
                var msg = data['msg'];
                
                                                                            
                switch(field){
                                                    
                    case 'yes':

                        $("#EUresult").removeClass('alert-danger');
                        $("#EUresult").addClass('alert-success text-center').text(msg);
                        $("#eUser").prop("disabled",true);
                                    
                    break;
                    case 'no':
                        $("#EUresult").removeClass('alert-success');
                        $("#EUresult").addClass('alert-danger text-center').text(msg);
                                    
                    break;
                    default:
                                                       
                }
                                          
           }
        });

        }
        
    });

$("#reset-pass").click(function(){
 
    var pass1 = $("#pass1").val();
    var pass2 = $("#pass2").val();
    var IDm = $("#IDm").val();

    if(pass1 == '' || pass2 == '')
    {
        $("#result-pass").removeClass('text-success');
        $("#result-pass").addClass('text-danger text-center').text('Existem campos vazios.');
                           
    }
    else
    {
        if(pass1 != pass2)
        {
            $("#result-pass").removeClass('text-success');
            $("#result-pass").addClass('text-danger text-center').text('Senhas incompatíveis');
                           
        }
        else
        {
            $.ajax({
                                    
            method: 'POST',
            url: 'http://localhost/crud_application/reset-npass',
            dataType: 'json',
            data: {mail: mail},
            success: function(data){
                var field = data['resp'];
                var msg = data['msg'];
                                                                            
                switch(field){
                                                    
                    case 'yes':
                         $("#result-pass").removeClass('text-danger');
                        $("#result-pass").addClass('text-success text-center').text(msg);
                        $("#reset-pass").prop("disabled",true);
                    break;
                    case 'no':
                        $("#result-pass").removeClass('text-success');
                        $("#result-pass").addClass('text-danger text-center').text(msg);
                                    
                    break;
                    default:
                                                       
                }
                                              
           }
          });

        }

    }
                            
    
});

</script>